h1 {
  color: rgb(247, 247, 245);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:rgb(81, 81, 137);
  padding: 20px;
  margin-inline-end: auto;
  color: azure;
  border: 2px solid rgb(140, 139, 143);
  
}

#citySearch {
  background-color: hsl(231deg 3% 62%);
  margin-top: 2%;
  padding-top: 2%;
  border-radius: 10px;
  text-align: center;
  color:azure;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#search-button {
  width: 100%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

#search-button button:hover {
  background: #6f7981;
}

.pb-3 {
  padding: 0;
}

#forecast ul {
  flex: auto;
  display:inline-flexbox;
  margin: 5px;
  padding: 1px;
  background-color: rgb(53, 54, 69);
  color: rgb(255, 255, 255);
  text-align: center;
}

.weather-section {
  width: auto;
  display: flexbox;
  margin: 0%;
  /* flex-wrap: wrap; */
}

div.input-group {
  display: block;
  width: 100%;
}

div.input-group-append{
  
  width: 100%;

}

.form-inline {
  display: block;
  flex-flow: row wrap;
  align-items: center;
}